{% extends 'master.html' %}

{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'products/styles/products.css' %}">
{% endblock %}

{% block page_title %}
Category list
{% endblock %}

{% block page_content %}
<div id="catalog" class="full-height-block-wrap main-block catalog">
    <div class="full-height-block container white-block">
        <div class="inner">
            <small class="breadcrumbs">
                <a href="/">Главная</a> \
                <a href="{% url 'main:catalog' %}">Каталог</a>
            </small>
            <h1>Категории</h1>
            <div class="category__list">
                {% for itm in object_list %}
                <div class="category__item">
                    <a class="category__item_link" href="{% url 'categories:detail' pk=itm.id %}">
                        <span>{{ itm.title }}</span>
                    </a>
                    <br>
                    <span class="category__item_snippet">{{ itm.snippet }}</span>
                </div>
                {% endfor %}
            </div>
            {% include 'pagination.html' with page=page.obj paginator=pagination %}
        </div>
    </div>
</div>
{% endblock %}