/* FONTS */
@font-face {
  font-family: "ProximaNova";
  src: url('../fonts/ProximaNova-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url('../fonts/ProximaNova-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url('../fonts/ProximaNova-RegularIt.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SFNSDisplay";
  src: url('../fonts/SF-UI-Text-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mqvfyf');
  src:  url('../fonts/icomoon.eot?mqvfyf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mqvfyf') format('truetype'),
    url('../fonts/icomoon.woff?mqvfyf') format('woff'),
    url('../fonts/icomoon.svg?mqvfyf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* MAIN STYLE */
body {
    color: #555555;
    font: 16px/20px ProximaNova;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: #0E4D0A;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: #247620;
}

a.red-link {
    color: #b10000;
}

a.red-link:hover {
    color: #ec1414;
}

img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: DimGrey;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin: 34px 0 46px;
    font-size: 32px;
}

h2 {
    margin: 24px 0 40px;
    font-size: 28px;
}

h3, h4 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

h4 {
    margin: 35px 0 10px;
}

.main {
    min-width: 320px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.cont-wrap {
    padding: 30px 40px 60px;
}

.white-block {
    border-radius: 8px;
    background: white;
    margin-top: 30px;
    padding: 30px 60px 90px 50px;
    -webkit-box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    box-shadow: 0 0px 30px rgba(0,0,0,0.6);
    box-sizing: border-box;
}

.mobile-only {
    display: none;
}

.link-up {
    display: none;
    margin-top: 10px;
}

/* Header */
header {
    background: white;
    line-height: 28px;
    /* padding: 6px 20px 16px; */
    -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
}

header * {
    vertical-align: top;
}

.logo-wrap {
    display: inline-block;
    margin-top: 6px;
}

.header-logo {
    display: block;
    margin-left: -10px;
    width: 272px;
    position: relative;
}

.header-logo:after,
.header-logo:before {
    position: absolute;
    content: "";
    height: 2px;
    background: #c88d5b;
}

.header-logo:after {
    top: 30px;
    right: 0;
    width: 200px;
}

.header-logo:before {
    bottom: 16px;
    right: 0;
    width: 261px;
}

.logo {
    height: 82px;
    width: 82px;
    display: inline-block;
}

.header-logo-name {
    line-height: 26px;
    position: relative;
    float: right;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 36px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: right;
}

.header-wrap,
.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-wrap {
    vertical-align: top;
}

.footer-wrap + .footer-wrap {
    margin-top: 14px;
}

nav {
    display: flex;
}

.js-menu.menu {
    display: none;
}

.nav {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    font-size: 18px;   
}

.nav a {
    display: inline-block;
    padding: 16px 0 10px;
    line-height: 20px;
}

.nav li + li {
    padding-left: 30px;
}

.header-phone {
    display: inline-block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone1:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-c:before {
  content: "\ea13";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}


.phone-link .icon-phone,
.icon-c, .icon-plus, .icon-pencil {
    margin-right: 2px;
    font-size: 16px;
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

/* Footer */
footer {
    padding: 32px 20px 80px;
    line-height: 26px;
    background: #426a49;
    color: white;
}

footer h3 {
    color: white;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
}

footer a:hover {
    color: white;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .copy {
    margin-top: 10px;
}

/* Main page */
.promo {
    background-image: url(../images/440.jpg);
}
.promo,
.catalog,
.services,
.about,
.contacts {
    background-size: cover;
}

.advantages {
    padding: 20px 0 20px;
    background: #61a05e;
    background: -webkit-linear-gradient(90deg, #61a05e 0%, #41733d 100%);
    background: linear-gradient(90deg, #61a05e 0%, #41733d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61a05e', endColorstr='#41733d');
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    box-shadow: inset 0 -4px 10px rgba(0,0,0,0.4);
    /* position: relative; */
    /* margin-bottom: 46px; */
    width: 100%;
}

.advantages-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 38px;
    color: white;
}

.advantages-list {
    display: flex;
    align-content: center;
}

.advantages-list .advantages-list {
    flex-wrap: wrap;
}

.advantages-item {
    background: #FFFFFF;
    color: #2C3E50;
    padding: 20px 50px 25px 25px;
    margin-bottom: 29px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.advantages-list .advantages-list .advantages-item {
    margin-left: 30px;
}

.advantages-item .advantage-annotation {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.main-block {
    background-repeat: no-repeat;
    padding: 45px 20px 80px;
    /* margin-bottom: 46px; */
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    position: relative;
    width: 100%;
}

/* Services page */
.services {
    background-image: url(../images/334.jpg);
    margin-bottom: 0;
}

/* About page */
.about {
    background-image: url(../images/221.jpg);
    margin-bottom: 0; 
}

/* Catalog page */
.catalog {
    background-image: url(../images/117.jpg);
}

table {
    border: solid 1px #f0f4f5;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px 0 40px;
    text-align: left;
    width: 100%;
    text-align: center;
}

table tr:first-child {
    font-size: 18px;
    height: 34px;
    vertical-align: middle;
}

table tr {
    border-bottom: 1px solid #f0f4f5;
}

table td, th {
    vertical-align: top;
    padding: 10px;
    border: 0;
}

table th:first-child {
    text-align: left;
}

table tr:nth-child(even) td,
table tr:nth-child(even) th {
    background: #f9fbfb;
}

/* Contacts page */
.contacts {
    background-image: url(../images/556.jpg);
}

.contacts-item span {
    color: #4e4e4e;
}

.contacts-item + .contacts-item {
    margin-top: 4px;
}

/* Flex content height*/
html {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.content {
    flex: auto;
    width: 100%; 
    display: -webkit-flex;
    display: flex;
}

.full-height-block-wrap {
    width: 100%;    
    display: -webkit-flex;
    display: flex;
    width: 100%; 
    margin: 0 auto;
}

.inner {
    display: block;
    width: 100%;
}

.full-height-block {
    width: 100%; 
    min-height: 300px;
    flex: 1 1 360px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

/* MEDIA */
@media (max-width: 1200px) {
    .promo {
        background-image: url(../images/440-md.jpg);
    }
    .catalog {
        background-image: url(../images/117-md.jpg);
    }
    .services {
        background-image: url(../images/334-md.jpg);
    }
    .about {
        background-image: url(../images/221-md.jpg);
    }
    .contacts {
        background-image: url(../images/556-md.jpg);
    }
}

@media (max-width: 1150px) {
    .header-logo {
        padding-left: 20px;
    }
    .nav {
        margin-right: 20px;
    }
    .white-block {
        padding: 30px 40px 90px;
    }
}

@media (max-width: 1023px) {
    .header-phone {
       display: none;
    }
}

@media (min-width: 300px) and (max-width: 890px) {
    .mobile-only {
        display: block;
    }
    table {
        width: 100%;
        overflow: auto;
        display: block;
    }
    .promo {
        background-image: url(../images/440-sm.jpg);
    }
    .catalog {
        background-image: url(../images/117-sm.jpg);
    }
    .services {
        background-image: url(../images/334-sm.jpg);
    }
    .about {
        background-image: url(../images/221-sm.jpg);
    }
    .contacts {
        background-image: url(../images/556-sm.jpg);
    }
    .cont-wrap {
        padding: 10px 20px 30px;
    }
    .main-block {
        padding: 10px 20px 40px;
    }
    .nav {
        display: none;
    }
    header.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .sticky + .content {
        padding-top: 83px;
    }
    h1, h2, h3 {
        text-align: left;
    }
    h1 {
        margin: 10px 0 36px;
        font-size: 24px;
        line-height: 28px;
    }
    h3 {
        font-size: 16px;
    }
    h2 {
        margin: 12px 0 40px;
        font-size: 22px;
    }
    h4 {
        font-size: 16px;
    }
    .advantages-title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 24px;
        text-align: left;
    }
    .advantages-item .advantage-annotation {
        font-size: 18px;
        line-height: 22px;
    }
    .advantages-list {
        display: block;
    }
    .advantages-list .advantages-list .advantages-item {
        margin-left: 0;
    }
    .advantages .cont-wrap {
        padding: 10px 20px 0;
    }
    .advantages-item {
        background: #FFFFFF;
        color: #2C3E50;
        padding: 20px 35px 25px 25px;
        margin-bottom: 20px;
    }
    .white-block {
        margin-top: 24px;
        padding: 22px 20px 50px;
    }
    footer {
        padding: 32px 20px 40px;
    }
    .footer-wrap {
        display: block;
    }
    footer .copy {
        line-height: 44px;
    }
    footer .copy, footer .link-up {
        margin-top: 10px;
    }
    footer .phone-link {
        white-space: nowrap;
    }
    .js-menu.menu {
        display: inline-block;
    }
    .menu {
        transition: 0.1s transform linear;
        position: relative;
        background: 0;
        float: left;
        margin: 24px 20px 0;
        height: 57px;
        width: 40px;
        z-index: 1;
        outline: 0;
        padding: 0;
        border: 0;
    }

	.bar, .bar::before, .bar::after {
        transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
        position: absolute;
        background: #696969;
        margin: auto;
        width: 100%;
        height: 3px;
        content: '';
        top: 50%;
        left: 0;
	}

	.bar {
		margin-top: -12px;
	}

	.bar::before {
		top: -10px;
	}

	.bar::after {
		top: 10px;
	}

	.bar::before,
	.bar::after {
		transform: rotate(0deg);
	}

	.active .bar {
		background: 0;
    }
    .active .bar::before {
        transform: rotate(45deg);
    }

    .active .bar::after {
        transform: rotate(-45deg);
    }

    .active .bar::before,
    .active .bar::after {
        top: 0;
    }

    .active .bar,
    .active .bar::before,
    .active .bar::after {
        transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
    }
    nav {
        width: 240px;
        height: 100%;
        background: #eaeaea;
        position: fixed;
        transform: translateX(-240px);
        transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
        padding-top: 94px;
    }
    .menu-open nav {
        transform: translateX(0);
    }
    .header-logo {
        position: relative;
        z-index: 2;
        padding: 6px 0 10px 20px;
        width: 204px;
    }
    .menu-open nav ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: block;
        height: auto;
    }
    .menu-open nav ul li {
        font-size: 22px;
    }   
    .menu-open .nav li + li {
        padding-left: 0;
    }
    .menu-open .nav a {
        display: inline-block;
        padding: 10px 20px;
        line-height: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    .menu-open nav li:hover {
        background: #0E4D0A;
        color: white;
    }
    .menu-open nav a:hover {
        color: white;
    }
    .logo-wrap {
        margin-top: -4px;
    }
    .header-logo-name {
        line-height: 22px;
        font-size: 18px;
        margin-top: 14px;
        margin-bottom: 0;
        letter-spacing: 0;
        padding: 2px 0 5px 4px;
    }
    .header-logo:before {
        top: 68px;
        width: 195px;
    }
    .header-logo:after {
        top: 19px;
        right: 0;
        width: 149px;
    }
    .logo {
        height: 64px;
        width: 64px;
    }
    .header-phone {
        display: inline-block;
    }
}
