/* Catalog items */
.catalog-items {
    margin: 18px 0 26px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-items .item {
    margin: 20px;
    text-align: center;
    width: 200px;
}

.catalog-items .item-cover-cont {
    width: 200px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 170px;
}

.catalog-items .item-cover {
    display: block;
    height: 200px;
    margin: 0 auto;
}

.catalog-items .item:hover .product__cover {
    margin-left: -2px;
    margin-right: -2px;
    width: 254px;
}

.product__cover {
    width: 250px;
    display: block;
}
.product__link {
    font-size: 20px;
    margin: 20px 0;
}
.product__name {
    display: inline-block;
    margin-top: 15px;
}
.product-update-links {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 14px;
}
.product-update-link + .product-update-link{
    margin-left: 30px;
}

/* Pagination */
.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 18px;
}
.pagination_item {
    display: inline-block;
    line-height: 22px;
}
.pagination_item a {
    padding: 5px 10px;
}
.pagination_item:hover {
    text-decoration: underline;
}
.pagination .current {
    font-size: 22px;
}
.pagination_item.current:hover,
.pagination_item.pagination_item_arrow:hover {
    text-decoration: none;
}
.pagination .icon-arrow-left,
.pagination .icon-arrow-right {
    line-height: 20px;
    font-size: 18px;
}

.product__block {

}
.product__main {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.product__image {
    width: 400px;
}
.product__image,
.product__info {
    margin-top: 20px;
}
.product__detail {
    margin-left: 50px;
}
.product__info {
    display: block;
}