{% extends 'master.html' %}

{% block page_title %}
    Каталог | Сибирская лиственница
{% endblock %}
    
{% block page_content %}
<div id="catalog" class="full-height-block-wrap main-block catalog">
    <div class="full-height-block container white-block">
        <div class="inner">
            <h1>{{ title }}</h1>
            <h4>{{ subtitle }}</h4>
            {% for itm in text %}
            <p>
                {{ itm }}
            </p>
            {% endfor %}

            <div class="catalog__items">
                <div class="catalog__item">
                    <a href="{% url 'categories:index' %}">
                        <img src="" alt="">
                        <span>Категории</span>    
                    </a>
                </div>
                <div class="catalog__item">
                    <a href="{% url 'products:index' %}">
                        <img src="" alt="">
                        <span>Список товаров</span>    
                    </a>
                </div>
            </div>
            <!-- <h4>Прайс-лист на погонажные изделия:</h4>
            <table>
                <tbody>
                    <tr>
                        <th></th>
                        <th colspan="3">Размер</th>
                        <th colspan="2">Цена (руб./м
                            <sup>2</sup>)</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Толщина</th>
                        <th>Ширина</th>
                        <th>Длина</th>
                        <th>Прима</th>
                        <th>Экстра</th>
                    </tr>
                    <tr>
                        <th>
                            Вагонка лиственница (штиль)
                        </th>
                        <td>14 мм</td>
                        <td>85, 110, 135 мм</td>
                        <td>3,0; 3,5; 4,0 м</td>
                        <td>1180₽</td>
                        <td>1350₽</td>
                    </tr>
                    <tr>
                        <th>
                            Доска пола лиственница
                        </th>
                        <td>28 мм</td>
                        <td>90, 110, 135 мм</td>
                        <td>3,0; 3,5; 4,0 м</td>
                        <td>2140₽</td>
                        <td>2380₽</td>
                    </tr>
                    <tr>
                        <th>
                            Террасная доска лиственница
                        </th>
                        <td>28 мм</td>
                        <td>140 мм</td>
                        <td>3,0; 3,5; 4,0 м</td>
                        <td>2100₽</td>
                        <td>2350₽</td>
                    </tr>
                    <tr>
                        <th>
                            Имитация бруса лиственница
                        </th>
                        <td>20 мм</td>
                        <td>135 мм</td>
                        <td>3,0; 3,5; 4,0 м</td>
                        <td>1680₽</td>
                        <td>1950₽</td>
                    </tr>
                    <tr>
                        <th>
                            Планкен
                        </th>
                        <td>20 мм</td>
                        <td>140 мм</td>
                        <td>3,0; 3,5; 4,0 м</td>
                        <td>1650₽</td>
                        <td>1900₽</td>
                    </tr>
                    <tr>
                        <th>
                            Блок хаус лиственница
                        </th>
                        <td>28 мм</td>
                        <td>135 мм</td>
                        <td>3,0; 3,5; 4,0 м</td>
                        <td>2100₽</td>
                        <td>2400₽</td>
                    </tr>
                    <tr>
                        <th>
                            Палубная доска лиственница
                        </th>
                        <td>28 мм</td>
                        <td>140 мм</td>
                        <td>3,0; 3,5; 4,0 м</td>
                        <td>2050₽</td>
                        <td>2350₽</td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</div>
{% endblock %}
