{% extends 'master.html' %}

{% block page_title %}
    Контакты | Сибирская лиственница
{% endblock %}

{% block page_content %}
<div id="contacts" class="full-height-block-wrap main-block contacts">
    <div class="full-height-block container white-block">
        <div class="inner">
            <h1>{{ title }}</h1>
            {% for key, value in contacts.items %}
            <div class="contacts-item">
                <span>{{ key }}:</span>
                {% if key == 'Телефон' %}
                    <a href="tel:{{ value }}">{{ value }}</a>
                {% elif key == 'Электронная почта' %}
                    <a href="mailto:sibles.spb@yandex.ru">sibles.spb@yandex.ru</a>
                {% else %}
                    {{ value }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
