<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/main/favicon.ico">
    <title>Купить пиломатериалы из сибирской лиственницы в СПб от производителя недорого</title>
    <meta name="description" content="Древесина сибирской лиственницы экстра и прима сортов в СПб. Вагонка, половая и террасная доска, планкен, брус. Бригада строителей для работы любой сложности." />
    <meta name="keywords" content="пиломатериалы, сибирская лиственница, доска, погонаж, вагонка, половая, террасная доска, палубная доска, планкен, брус, купить, цена, спб, питер, санкт-петербург, ло, бригада строителей, строительные работы" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/main/styles/normalize.css">
    <link rel="stylesheet" href="/static/main/styles/style.css">
    <script type="text/javascript" src="/static/main/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/main/js/script.js"></script>
</head>
<body>
    <div class="main" id="top">
        <header id="myHeader">
            <div class="container">
                <div class="header-wrap">
                    <a href="/" class="header-logo">
                        <span class="logo-wrap">
                            <img src="/static/main/images/logo.png" alt="logo" class="logo">
                        </span>
                        <span class="header-logo-name">
                            Сибирская<br> лиственница
                        </span>
                    </a>
                    <button class="js-menu menu" type="button">
                        <span class="bar"></span>
                    </button>
                    <nav id="menu">
                        <ul class="nav">
                            <li>
                                <a href="tel:+79119697705" class="phone-link">
                                    <span class="icon-phone"></span>
                                    <span class="header-phone">8 (911) 969-77-05</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="/catalog">Каталог</a>
                            </li>
                            <li class="nav-link">
                                <a href="/services">Услуги</a>
                            </li>
                            <li class="nav-link">
                                <a class="f-menu-item" href="/about">О нас</a>
                            </li>
                            <li class="nav-link">
                                <a href="/contacts">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="full-height-block-wrap">
                <div class="full-height-block">
                    <div id="promo" class="main-block promo">
                        <div class="container white-block">
                            <h1>Лиственница с берегов Байкала в Санкт-Петербурге</h1>
                            <h3>Пиломатериалы из лиственницы от производителя по низкой цене</h3>
                            <p>
                                На берегах Байкала в экологически чистых условиях произрастает лиственница сибирская. Древесина этого дерева красива и уникальна.
                                Главные её качества — это прочность, твердость и невероятная стойкость против гниения, что особенно важно в строительстве.
                                С годами лиственничная древесина становится только прочнее. Не зря это дерево сравнивают с камнем. В Венеции,
                                которая стоит на воде, сваи домов сделаны из лиственницы. Большая влажность только укрепляет этот необыкновенный
                                строительный материал. Кстати, Петербург тоже не обошелся без знаменитой сибирской лиственницы.
                            </p>
                            <p>
                                Лиственница, используемая при строительстве дома, выделяет особые полезные вещества - фитонциды, которые через кожу и легкие
                                способны благоприятно влиять на организм человека. Фитонциды останавливают рост болезнетворных бактерий и грибов,
                                нормализуют артериальное давление и сердечный ритм, активируют нервную и иммунную систему человека.
                            </p>
                            <p>
                                В доме из лиственницы вам будет комфортно: тепло зимой и прохладно летом.
                            </p>
                            <h4>Мы предлагаем Вам древесину лиственницы только экстра и прима сортов</h4>
                            <p>
                                У Вас будет уникальная возможность использовать такую же древесину, какую отправляют на экспорт в Европу.
                            </p>
                        </div>
                    </div>
                    <div id="advantages" class="advantages">
                        <div class="container">
                            <div class="cont-wrap">
                                <div class="advantages-title">
                                    Причины, по которым для строительства
                                    <br> стоит выбрать лиственницу
                                </div>
                                <div class="advantages-list">
                                    <div class="advantages-item">
                                        <div class="advantage-text">
                                            <div class="advantage-annotation">КРАСИВО И ПОЛЕЗНО ДЛЯ ЗДОРОВЬЯ</div>
                                            <p>
                                                Дома из лиственницы очень красивы и обладают высокой прочностью, так как устойчивы к гниению, образованию плесени и грибка.
                                            </p>
                                            <p>
                                                Фитонциды, которые выделяет это дерево, останавливают рост микроорганизмов и бактерий, а значит, ваши дети будут меньше болеть
                                            </p>
                                        </div>
                                    </div>
                                    <div class="advantages-list">
                                        <div class="advantages-item">
                                            <div class="advantage-text">
                                                <div class="advantage-annotation">ТЕПЛО</div>
                                                <p>
                                                    Дома из лиственницы лучше сохраняют тепло зимой, а летом в них достаточно прохладно
                                                </p>
                                            </div>
                                        </div>
                                        <div class="advantages-item">
                                            <div class="advantage-text">
                                                <div class="advantage-annotation">БЕЗОПАСНО</div>
                                                <p>
                                                    Дома из лиственницы отличаются высокой огнеупорностью, которая превышает огнестойкость сосновых пород в два раза
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer-wrap">
                    <div class="footer-menu">
                        <ul class="f-menu-items">
                            <li>
                                <a class="f-menu-item" href="/about">О нас</a>
                            </li>
                            <li>
                                <a class="f-menu-item" href="/catalog">Каталог</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <ul class="f-menu-items">
                            <li>
                                <a class="f-menu-item" href="/services">Услуги</a>
                            </li>
                            <li>
                                <a class="f-menu-item" href="/contacts">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-us">
                        <div class="phone-link">Контактный телефон:
                            <a href="tel:+79119697705">
                                8 (911) 969-77-05</a>
                        </div>
                        <div class="mail-link">E-mail:
                            <a href="mailto:sibles.spb@yandex.ru">sibles.spb@yandex.ru</a>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap">
                    <span class="copy">© 2018 Все права защищены</span>
                    <div class="link-up js-link-up">
                        <a href="#top">Наверх
                            <span class="icon-arrow-up2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>