{% extends 'master.html' %}

{% block page_title %}
    Услуги | Сибирская лиственница
{% endblock %}

{% block page_content %}
<div id="services" class="full-height-block-wrap main-block services">
    <div class="full-height-block container white-block">
        <div class="inner">
            <h1>{{ title }}</h1>
            <h3>{{ subtitle }}</h3>
            {% for itm in text %}
                <p>
                    {{ itm }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
