{% extends 'master.html' %}

{% block page_title %}
    Product detail
{% endblock %}

{% block page_content %}
<div id="about" class="full-height-block-wrap main-block about">
    <div class="full-height-block container white-block">
        <div class="inner">
            <small class="breadcrumbs">
                <a href="/">Главная</a> \
                <a href="{% url 'products:index' %}">Каталог</a>
            </small>   
            <h1>{{ object }}</h1>
            <div class="product-update-links">
                <a class="product-update-link" href="{% url 'products:update' pk=object.id  %}" class="product_update">
                    <span class="icon-pencil"></span> Изменить
                </a>
                <a class="product-update-link red-link" href="{% url 'products:delete' pk=object.id  %}" class="product_update">
                    <span class="icon-bin"></span> Удалить
                </a>
                <a class="product-update-link" href="{% url 'products:create' %}" class="product_update">
                    <span class="icon-plus"></span> Добавить новый товар
                </a>
            </div>
            <p>
                {{ object.snippet }}
            </p>
            <p>
                 {{ object.cost }}
            </p>
            <img class="product__image" src="{{ object.image.url }}" alt="{{ object }}">
            
        </div>
    </div>
</div>
{% endblock %}