{% extends 'master.html' %}

{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'products/products.css' %}">
{% endblock %} 

{% block page_title %}
    Product detail
{% endblock %}

{% block page_content %}
<div id="about product__block" class="full-height-block-wrap main-block about">
    <div class="full-height-block container white-block">
        <div class="inner">
            <small class="breadcrumbs">
                <a href="/">Главная</a> \
                <a href="{% url 'main:catalog' %}">Каталог</a> \
                <a href="{% url 'products:index' %}">Товары</a>
            </small>   
            <h1>{{ object }}</h1>
            <div class="product-update-links">
                <a class="product-update-link" href="{% url 'products:update' pk=object.id  %}" class="product_update">
                    <span class="icon-pencil"></span> Изменить
                </a>
                <a class="product-update-link red-link" href="{% url 'products:delete' pk=object.id  %}" class="product_update">
                    <span class="icon-bin"></span> Удалить
                </a>
                <a class="product-update-link" href="{% url 'products:create' %}" class="product_update">
                    <span class="icon-plus"></span> Добавить новый товар
                </a>
            </div>
            <div class="product__main">
                <div class="product__image_cont">
                    <img class="product__image" src="{{ object.image.url }}" alt="{{ object }}">
                </div>
                <div class="product__detail">
                    {% if object.snippet %}
                    <span class="product__info">
                        {{ object.snippet }}
                    </span>
                    {% endif %}
                    {% if object.cost %}
                    <span class="product__info">
                        {{ object.cost }} ₽
                    </span>
                    {% endif %}
                    {% if not object.snippet or not object.cost %}
                    <span class="product__info">
                        Полная информация о товаре появятся позже
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}