{% extends 'master.html' %}

{% block page_title %}
    Products list
{% endblock %}

{% block page_content %}
<div id="about" class="full-height-block-wrap main-block about">
    <div class="full-height-block container white-block">
        <div class="inner">
            <h1>Каталог</h1>
            <ul>
                {% for itm in products %}
                {% include 'products/components/item.html' with count=itm.id name=itm %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
