{% extends 'master.html' %}

{% load static %}
    
{% block page_styles %}
<link rel="stylesheet" href="{% static 'products/products.css' %}">
{% endblock %} 

{% block page_title %}
    Products list
{% endblock %}

{% block page_content %}
<div id="about" class="full-height-block-wrap main-block about">
    <div class="full-height-block container white-block">
        <div class="inner">
            <small class="breadcrumbs">
                <a href="/">Главная</a>
            </small>
            <h1>Каталог</h1>

            <ul class="pagination">
                {% if products.has_previous %}
                <li class="pagination_item pagination__link_prev pagination_item_arrow">
                    <a href="?page={{ products.previous_page_number }}">
                        <span class="icon-arrow-left"></span>
                    </a>
                </li>
                {% endif %} {% for num in products.paginator.page_range %}
                <li class="pagination_item pagination__link_page {% if products.number == num %}current{% endif %}">
                    <a href="?page={{ num }}">
                        {{ num }}
                    </a>
                </li>
                {% endfor %} {% if products.has_next %}
                <li class="pagination_item pagination__link_next pagination_item_arrow">
                    <a href="?page={{ products.next_page_number }}">
                        <span class="icon-arrow-right"></span>
                    </a>
                </li>
                {% endif %}
            </ul>

            <div class="catalog-items">
                {% for itm in products %}
                {% include 'products/components/item.html' with image=itm.image count=itm.id name=itm %}
                {% endfor %}
            </div>

            <ul class="pagination">
                {% if products.has_previous %}
                <li class="pagination_item pagination__link_prev pagination_item_arrow">
                    <a href="?page={{ products.previous_page_number }}">
                        <span class="icon-arrow-left"></span>
                    </a>
                </li>
                {% endif %}
                {% for num in products.paginator.page_range %}
                <li class="pagination_item pagination__link_page {% if products.number == num %}current{% endif %}">
                    <a href="?page={{ num }}">
                        {{ num }}
                    </a>
                </li>
                {% endfor %}
                {% if products.has_next %}
                <li class="pagination_item pagination__link_next pagination_item_arrow">
                    <a href="?page={{ products.next_page_number }}">
                        <span class="icon-arrow-right"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
