{% extends 'master.html' %}

{% block page_title %} 
Изменить {{ obj.title }}
{% endblock %}

{% block page_content %}
<div id="about" class="full-height-block-wrap main-block about">
    <div class="full-height-block container white-block">
        <div class="inner">
            <small class="breadcrumbs">
                <a href="/">Главная</a>
                <a href="{% url 'products:index' %}">\Каталог</a>
                <a href="{% url 'products:detail' pk=obj.id %}">\{{ obj.title }}</a>
            </small>
            <h1>Изменить {{ obj.title }}</h1>
            {% include 'form.html' with form=form %}
        </div>
    </div>
</div>
{% endblock %}